@tailwind base;
@tailwind components;
@tailwind utilities;
/* Required slick styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Custom styles */
body {
  font-family: "Inter", sans-serif;
}
/* Optional: Hide scrollbars for overflow-x */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
